*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.app{
  min-height: 100vh;
  background-color: black;
  color: white;
  padding: 20px;
}
h1{
  text-align: center;
  margin-bottom: 20px;
}
.loading{
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  font-style: italic;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.card{
  width: 180px;
  background-color: #111;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}
.card img{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}
.card p{
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
.pagination{
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
}
.pagination button{
  padding: 10px 18px;
  background-color: #00b4d8; 
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pagination button:hover {
  background-color: #00509d;
   transform: translateY(-2px);
}
.pagination button:disabled {
  background-color: #c7c7c7;
  cursor: not-allowed;
  transform: none;
}
.pagination span {
  font-size: 15px;
  color: #d78d8d;
}